form{
    width: 60%;
    margin: 50px auto;
    margin:50px;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9;
    position: relative;
}

input,select,p{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="password"],input[type="text"],
input[type="number"],input[type="email"],
input[type="datetime-local"],input[type="color"]{
    width: 100%;
}

input[type="range"]{
    width: 100%;
}
p{
    font-size: 15px;
}
select{
    width: 100%;
}

.container{
    width: 500px;
    height: 500px;
    background-color: gray;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    left: 400px;
    position: relative;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    left: 80%;
    top: 30px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: lime;
}

fixed {
    position: fixed;          
    width: 300px;             
    border: 3px solid orange;  
    right: 0;                
    bottom: 0;                
    background-color: green;
}

.sticky {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    padding: 5px; 
    background-color: bisque;
    border: 2px solid red; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 200px;
  grid-gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: lightseagreen;
  padding: 20px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 10px;
}
